/***Begin UA Style Reset***/
/*****************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	display: inline-block;
	background: #ffe7ba;  /*Okay, mostly reset styles...*/
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****************************************************/
/*****End UA Style Reset Styling****/




/******************************************************/
/*****Begin Game Styling****/
/*****Begin styling of page contents above and below game board******/

#game-title {							/*Styling for the game header 'Match'*/
	text-align: center;
  text-transform: uppercase;
  font-family: 'Baloo', cursive;
  font-size: 120px;
  color: #80a7ec;
  margin-top: 30px;
}

.banner-bottom, .banner-top {								/*Styling for the .banner div which contains live guess count and star count*/
	width: 660px;
	margin: 10px auto;
}

.banner-bottom {
	margin-bottom: 40px;
}

#guess-counter, #star-count,
#timer, #reset {     					 /*Styling for guess count and star count p tags*/
	box-sizing: border-box;
	padding: 0 15px;
	line-height: 30px;
	font-size: 20px;
	display: inline-block;
	font-family: 'Nunito', sans-serif;
	color: #b1abab;
}

#star-count, #reset {
	float: right;
}

#timer {
	font-size: 25px;
	padding-top: 10px;
}

#reset {
	border: 2px solid #b1abab;
	border-radius: 10px;
	font-weight: bold;
	height: 40px;
  font-size: 20px;
  padding-top: 4px;
  margin-right: 15px;
}

#reset:hover {
	background: #b1abab;
	color: #ffe7ba;
	cursor: pointer;
}


.taunt {						/*Styling for taunt message p tag at bottom of screen*/
	color: #b1abab;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 70px;
	padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 60px;
	clear: both;
}
/*****End Styling of page contents above and below game board****/
/******************************************************/




/******************************************************/
/*****Begin styling of game board and cards****/

.deck {												/*Styling for the game board <ul> container*/
	box-sizing: border-box;
	width: 660px;
  min-height: 680px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46,61,73, 0.5);
	margin: 0 auto 20px;
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.deck .card {           /*Default styling for the individual cards on game board*/
	height: 125px;
	width: 125px;
	transition: background 1s ease;   /*Transition added for card flips*/
	background: #2e3d49;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 5px 2px 20px 0 rgba(46,61,73, 0.5);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;      /*Font size 0 hides card icon by default*/
}

.deck .card.selected {                /*Styling for cards that are flipped and currently being guessed*/
	transition: background 0.5s ease;   /*Transition added for when card is flipped*/
	background: #02b3e4;
	cursor: default;
	font-size: 60px;                   /*Font size increased from 0 causes icon to appear when card is flipped*/
}

.deck .card.match {									 /*Styling for cards that have been matched*/
	transition: background 1s ease;    /*Transition added for when a match is found*/
	background: #97f7d8;
	font-size: 60px;
	cursor: default;
	color: #80a7ec;
}
/*****End Styling of game board and cards****/
/******************************************************/




/******************************************************/
/*****Begin styling of elements which appear when game finishes******/

.winner-overlay {      /*Creates a transparent overlay*/
	height: 1100px;			 /*I wasn't sure how to do a 100% height the way you can with width, any suggestions?*/
	width: 100%;
	background: rgba(46,61,73, 0.5);
	display: none;       /*Display none hides element by default*/
}

canvas {								/*This is the canvas used to create the confetti shower*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;						/*With no default height or width element does not appear by default*/
}

.winner-pop-up {				 /*Styling for victory pop-up box*/
	box-sizing: border-box;
	border-radius: 40px;
  width: 70%;
  height: 560px;
  border: 5px solid #00c4ff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(46,61,73, 0.8);
  z-index: -1;            /*negative z index hides element behind game board so that it doesn't interfere*/
	display: none;          /*winner pop up will not display by default*/
	text-align: center;
	color: white;
	padding: 60px;
}

.winner-pop-up h2 {            /*Styling for winner pop-up box header*/
	font-family: 'Pacifico', cursive;
	font-size: 70px;
}

.winner-pop-up .stars {					/*Styling for winner pop-up box stars achieved*/
	padding: 60px 0;
  font-size: 100px;
  font-weight: bold;
  color: #ffdf30;
}

.winner-pop-up .winner-text {     /*Styling for winner pop-up game summary text*/
	font-size: 30px;
  font-family: 'Nunito', sans-serif;
}

.winner-pop-up .play-again {
	border: 4px solid #00c4ff;
  font-weight: bold;
  background: rgba(46,61,73, 0.8);
  border-radius: 10px;
  height: 80px;
  box-sizing: border-box;
  padding: 0 30px;
  line-height: 74px;
  font-size: 30px;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  margin-top: 40px;
}

.winner-pop-up .play-again:hover {
	background: #00c4ff;
	cursor: pointer;
}
/*****End styling of elements which appear when game finishes****/
/******************************************************/



/******************************************************/
/*********Begin Break Point Styling***********/
/*Break Point 1: Decreases the size of several containers and text elements from default*/

@media screen and (max-width: 970px) {

	.winner-pop-up {
	  height: 450px;
	}

	.winner-pop-up h2 {
		font-size: 46px;
	}

	.winner-pop-up .stars {
	  font-size: 70px;
		padding: 30px 0;
	}

	.winner-pop-up .winner-text {
		font-size: 26px;
	}

	.taunt {
		font-size: 48px;
		margin-bottom: 40px;
	}
}



/*Break Point 2: Further decreases the size of several containers and text elements,
								 first decrease of the game board and card sizes from default*/
@media screen and (max-width: 680px) {

	.banner-top, .banner-bottom {
		width: 480px;
	}

	.deck {
		width: 480px;
		min-height: 500px;
		padding: 16px;
		margin: 0 auto 25px;
	}

	.deck .card {
		height: 100px;
		width: 100px;
	}

	.deck .card.match,
	.deck .card.selected {
		font-size: 50px;
	}

	#timer {
		font-size: 22px;
		padding-top: 8px;
	}

	.taunt {
		margin-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.winner-pop-up {
	  height: 320px;
		padding: 30px;
	}

	.winner-pop-up h2 {
		font-size: 38px;
	}

	.winner-pop-up .stars {
	  font-size: 50px;
	}

	.winner-pop-up .winner-text {
		font-size: 18px;
	}

	.winner-pop-up .play-again {
		border: 2px solid #00c4ff;
    height: 55px;
    line-height: 50px;
    font-size: 24px;
    margin-top: 20px;
	}
}



/*Break Point 3: Final size decrease of several containers text elements from default,
								 second and final decrease of game board and card sizes*/
@media screen and (max-width: 520px) {

	#game-title {
		font-size: 90px;
	}

	#guess-counter, #star-count, #timer {
		padding: 0 5px;
		font-size: 16px;
	}

	#reset {
		padding: 2px 4px 0;
		font-size: 14px;
		line-height: 22px;
		margin-right: 5px;
		height: 28px;
	}

	.banner-top, .banner-bottom {
		width: 300px;
	}

	.banner-bottom {
		margin: 0 auto 16px;
	}

	.deck {
		width: 300px;
		min-height: 300px;
		padding: 8px;
		margin: 0 auto 12px;
		box-shadow: 5px 8px 20px 0 rgba(46,61,73, 0.5);
	}

	.deck .card {
		height: 66px;
		width: 66px;
	}

	.deck .card.match,
	.deck .card.selected {
		font-size: 36px;
	}

	.taunt {
		font-size: 28px;
	}

	.winner-pop-up {
		width: 85%;
	  height: 250px;
		padding: 15px;
	}

	.winner-pop-up h2 {
		font-size: 26px;
	}

	.winner-pop-up .stars {
	  font-size: 40px;
		padding: 20px 0;
	}

	.winner-pop-up .winner-text {
		font-size: 16px;
	}
}
/*********End Break Point Styling***********/
/******************************************************/
